body {
  font-family: sans-serif;
  background-image: url("./images/background.png");
  background-color: #3ba979
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

text {
  margin-left: 7%;
}

p {
  margin-left: 7%;
}

.redHead{
  color: #d41121;
  font-size: 2vw;
  line-height: 2;
  margin-left: 1vw
}

.tealSubHeader {
  color: #3ba979;
  font-size: 1vw;
  margin-top: 1vh;
  margin-left: 1vw;
  line-height: 2;
}

.goldItalics {
  color: goldenrod;
  font-size: 1vw;
  font-style: italic;
  margin-left: 1vw;
}

.blackBody {
  color: black;
  font-size: 1vw;
  line-height: 1.5;
  margin-left: 1vw;
}

.blackBodyItalics {
  color: black;
  font-size: 1vw;
  font-style: italic;
  line-height: 1.5;
  margin-top: 0;
  margin-left: 1vw;
  margin-right: 5vw;
}

.container{
  margin: 2%;
  margin-top: 15%;
  position: relative;
}

.innerContainer {
  position: relative;
  margin: 3%
}

.overview {
  width: 30vw;
  height: 40vw;
  top: 1vw;
  margin-bottom: 5%;
}

.overviewImage {
  height: 130%;
  position: absolute;
  top: -17%;
  left: 17%;
}
.overviewBubble1 {
  height: 12%;
  position: absolute;
  top: -14%;
  left: 39%;
}
.overviewBubble2 {
  height: 17%;
  position: absolute;
  top: 0;
  left: 41%;
}
.overviewBubble3 {
  height: 10%;
  position: absolute;
  top: 19%;
  left: 42%;
}

.overviewBox {
  width: 27vw;
  height: 37vw;
  background-color: white;
  border-bottom-left-radius: 2vw;
  box-shadow: 1vw 1vw 1vw darkgray;
}

.overviewHeader{
  background-color: #f3bd48;
  height: 10%;
}

.overviewBody {
  margin-right: 15%
}

.overviewSocialMedia {
  color: #d41121;
  font-size: 2vw;
}

.blogPost {
  width: 60vw;
  height: 60vw;
  top: 1vw;
  position: relative;
}

.blogPostBackground {
  width: 53vw;
  height: 53vw;
  z-index: -1
}

.blogPostBox {
  background-color: white;
  position: absolute;
  top: 2.5vw;
  left: 2.5vw;
  width: 48vw;
  height: 43vw;
  opacity: .5;
  border-radius: 1vw;
}

.blogPostContent {
  position: absolute;
  width: 48vw;
  height: 43vw;
  top: 2.5vw;
  left: 4vw;
}

.videoContainer {
  position: absolute;
  width: 44vw;
  height: 40vw;
  left: .5vw
}

.largeVideo {
  position: absolute;
  width: 100%;
  height: 66% !important;
}

.tagContainer {
  position: absolute;
  top: 46vw;
  left: 5%;
}

.tagHeader {
  color: #d41121;
  font-size: 1vw;
  margin-left: 1vw;
}

.sidebar{
  border: 1px solid white;
  width: 30vw;
  position: absolute;
  top: -10%;
  left: 65%;
  z-index: 1;
}

.sidebarContainer {
  position: relative;
}

.latestPosts {
  width: 30vw;
  height: 45vw;
}

.latestPostsContent {
  left: 0;
}

.latestPostsContentBackground{
  width: 31vw;
  height: 45vw;
  left: 0;
  right: -10%;
  z-index:-1;
}

.latestVideos {
  width: 30vw;
  height: 50vw;
  position: relative;
}

.sidebarHeader {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 5vw;
  box-shadow: 0 8px 6px -6px black;
}

.latestVideosContentBackground{
  background-color: lightskyblue;
  position: absolute;
  opacity: .5;
  width: 30vw;
  height: 50vw;
  left: 0;
  top: 0;
  z-index: -1;
}

.latestVideosContent{
  position: absolute;
  width: 30.5vw;
  height: 50vw;
  left: 0;
  top: 20%;
}

.posts{
  position: absolute;
  width: 100%;
  top: 7%;
  left: 0
}

