body {
  font-family: sans-serif;
  background-image: url("./images/background.png");
  background-color: #3ba979
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

text {
  margin-left: 7%;
}

p {
  margin-left: 7%;
}

.redHead{
  color: #d41121;
  font-size: 2.5vw;
  line-height: 2;
  margin-left: 1vw
}

.tealSubHeader {
  color: #3ba979;
  font-size: 1.3vw;
  margin-top: 1vh;
  margin-left: 1vw;
  line-height: 1.2;
}

.goldItalics {
  color: goldenrod;
  font-size: 1.3vw;
  font-style: italic;
  margin-left: 1vw;
}

.blackBody {
  color: black;
  font-size: 1.3vw;
  line-height: 1.5;
  margin-left: 1vw;
}

.blackBodyItalics {
  color: black;
  font-size: 1.3vw;
  font-style: italic;
  line-height: 1.5;
  margin-top: 0;
  margin-left: 1vw;
}

.container{
  margin: 5%;
  margin-top: 15%;
  position: relative;
}

.innerContainer {
  position: relative;
  margin: 2%;
}

.overview {
  width: 50vw;
  height: 50vw;
  top: 1vw;
}

.overviewImage {
  height: 120%;
  position: absolute;
  top: -18%;
  left: 20%;
}
.overviewBubble1 {
  height: 10%;
  position: absolute;
  top: -18%;
  left: 45%;
}
.overviewBubble2 {
  height: 15%;
  position: absolute;
  top: -5%;
  left: 50%;
}
.overviewBubble3 {
  height: 8%;
  position: absolute;
  top: 15%;
  left: 51%;
}

.overviewBox {
  width: 32vw;
  height: 45vw;
  background-color: white;
  border-bottom-left-radius: 2vw;
  box-shadow: 1vw 1vw 1vw darkgray;
}

.overviewHeader{
  background-color: #f3bd48;
  height: 10%;
}

.overviewBody {
  margin-right: 15%
}

.overviewSocialMedia {
  color: #d41121;
  font-size: 2vw;
}

.blogPost {
  width: 60vw;
  height: 60vw;
  top: 1vw;
  position: relative;
}

.blogPostBackground {
  width: 60vw;
  height: 65vw;
  z-index: -1
}

.blogPostBox {
  background-color: white;
  position: absolute;
  top: 2.5vw;
  left: 2.5vw;
  width: 55vw;
  height: 50vw;
  opacity: .5;
  border-radius: 1vw;
}

.blogPostContent {
  position: absolute;
  width: 50vw;
  height: 50vw;
  top: 5vw;
  left: 5vw;
}

.videoContainer {
  position: absolute;
  width: 50vw;
  height: 40vw;
}

.largeVideo {
  position: absolute;
  width: 100%;
  height: 66% !important;
  left: 0;
}

.tagContainer {
  position: absolute;
  top: 55vw;
  left: 5%;
}

.tagHeader {
  color: #d41121;
  margin-left: 1vw;
}

